@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  @apply px-5 mx-auto sm:w-full md:w-10/12 lg:w-3/4;
}

.editorial-toolbar-btn {
  @apply p-1 opacity-60;
}

.editorial-toolbar-btn.\--active {
  @apply opacity-100;
}

[href]:not([class*="btn"]) {
  @apply cursor-pointer hover:text-primary-500 dark:hover:text-primary-400;
}

.limit-3-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.btn-default {
  @apply px-4 py-1;
}

.btn-primary {
  @apply px-4 py-1 text-white bg-primary-500 hover:bg-primary-600;
}

.btn-success {
  @apply text-white btn-default bg-emerald-500 hover:bg-emerald-600;
}

.btn-info {
  @apply text-white btn-default bg-sky-500 hover:bg-sky-600;
}

.btn-danger {
  @apply text-white bg-orange-500 btn-default hover:bg-orange-700;
}

.tiptap-editor .ProseMirror-focused {
  @apply border border-gray-300 outline-none;
}

.ProseMirror p {
  @apply my-4;
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}
