@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  @apply sm:w-full md:w-10/12 lg:w-3/4 px-5 mx-auto;
}

.editorial-toolbar-btn {
  @apply p-1 opacity-60;
}

.editorial-toolbar-btn.\--active {
  @apply opacity-100;
}

[href] {
  @apply hover:text-primary-500 dark:hover:hover:text-primary-400;
}

.limit-3-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.btn-primary {
  @apply bg-primary-500 text-white hover:bg-primary-600 px-4 py-1;
}